body {
  margin: 0;
  background-color: #000;
}

.inside-box {
  background-color: rgb(255, 165, 0);
}

.outside-box {
  background-color: rgb(50, 141, 191);
  width: 350px;
  margin: 20px 0 40px 20px;
}

.text {
  background-color: rgb(221, 221, 211);
  margin: 0;
}

.text,
.inside-box,
.outside-box {
  padding: 10px;
  border: 1px solid #e95d49;
}

* {
  box-sizing: border-box;
}
